$fontfamily: "Arial";

// Файл обнуляющих стилей
@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

.container {
	max-width: 1130px;
	padding: 0px 15px;	

}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

body {
	font-family: Lato;
}

// ====================== HEADER block ======================

.header {

	// width: 100%;
	// height: 100%;
	// background: url('../img/header.png') 0 0/100% auto no-repeat;
	img {
	width: 100%;
	}
	&__img {
	}
	&__row {
		
		position: absolute;
		  	 // ____Позиционирование по центру____
						margin-left: auto;
						margin-right: auto;
						left: 0;
						right: 0;
						text-align: center;

		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		align-items: center;
		height: 85px;
		padding: 68px 0;


	}

	&__logo {
		position: absolute;
		z-index: 6;
	
}
.menu {
	&__body {

		}

	&__link {

		padding: 0 37.5px;
		text-transform: uppercase;
		color: #4d4959;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 2.6px;
	}

	&__list {

		display: flex;
		li {
			position: relative;
			transition-duration: 1s;
			&:hover {
				color: rgba(100, 194, 158, 1);

			}
			&:nth-child(2){
				padding: 0 110px 0 37.5px;
				&:after {display: none;}
			}
			&:nth-child(3){
				padding: 0 37.5px 0 110px;
			}
			 &:after {
		 		content:'';
				height: 2px;
				width: 2px;
				background-color: #4d4959;
				border-radius: 50%;
				position: absolute;
				right: 0;
				top: 50%;
				margin: -2px 0 0 0;
			}

			 &:last-child {
				&:after {display: none;}
			}
		}
	
	}
	
	@media screen and (max-width:767px) {

		&__logo {
		position: absolute;
			z-index: 10;
		}
		&__body {
			position: absolute ;
			z-index: 2;
			width: 100%;
			height: 480px;
			top: 0;
			left: 0;
			background-color: #4d4959;
		}
		&__link {
			color: white;
			font-size: 23px;

		}
		&__list {

			flex-direction:column;
			position: relative;
			top: 120px;
			align-items: center;

			li {
				cursor: pointer;
			&:nth-child(2){
				padding: 30px 0;
				&:after {display: block;}	}
			&:nth-child(3){
				padding: 30px 0;	}

			padding: 30px 0;

			&:after {
				content:'';
				position: absolute;
				left: 50%;
				top: 93%;
				height: 6px;
				width: 6px;
				background-color: white;
				border-radius: 50%;
			}
		}
		}
	}
}
}

// ====================== CONTENT block ======================

.content {
	background-color: #f7f7f7;
	padding: 117px 0 142px 0;
}
.generation {
	&__block {

	}
}
.container {
		max-width: 1079px;
		margin: 0 auto;

}
.block {
		text-align: center;
	&__icon {
		margin: 0 0 34px 0;
	}
	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3.6px;
		margin: 0 0 35px 0;
	}

	&__text {
		color: #848789;
		font-size: 18px;
		font-weight: 400;
		line-height: 34px;
		text-align: center;

	}
}

// ====================== BRANDS LINK block ======================

.brands {

	&_big {

		display:flex;
		
		position: relative;
		z-index: 1;
		justify-content:center;
		align-items:center;
		background: url('./../img/brands/brand_1.png') 0 0/cover no-repeat;


	}

	&__row {
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		// border: 10px solid #ece89d;
		
		@media screen and (max-width:800px) {
		flex-direction: column;
	}

	}

		&__column-1 {
			// border: 5px solid #5e5373;
			flex:0 1 66.67%;

	
		}
		&__column-2 {
			// border: 5px solid #5e5373;
			flex:0 1 33.33%;
		
			
		}
	
	&__big-logo {
		position: absolute;
		display: none;
		

	}

	
	&__big-img {		
			transition-duration: 1s;
			background-color: rgba(100, 194, 158, 0.5);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100%;
			width: 100%;
			display: none;


	}

	&_big:hover {

		.brands__big-img {display: block;}
		.brands__big-logo  {display: block;}

	}

	&__element {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;

	
	}
	&__brandstext {	
		// border: 10px solid #ece89d;
		// height: 100%;
		padding: 70px 69px 40px 69px;

		.block__text{
			text-align:justify;
		}

		&:after{
			content:'';
			display: block;
			margin: 35px auto 0 auto;
			width: 50px;
			
			background-color: #353738;
		}
	
		
		
	}
	&__block-img {
		
		
		 // ---СТРЕЛКА---
		&:before {
			position: absolute;
			// left: 50%;
			margin-left: auto;
						margin-right: auto;
						left: 0;
						right: 0;
						text-align: center;

			content:'';
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent; 
			border-top: 10px solid white;

		}

		padding: 0 0 42% 0;
		background: url('./../img/brands/brand_2s.png') 0 0/auto 100% no-repeat;
		
	}

}



.column-1-reverse {
	order: 2;
	background: url('./../img/brands/brand_4.png') 0 0/cover no-repeat;
}

.column-2-reverse {
	order: 1;
	.brands__block-img {
		background: url('./../img/brands/brand_3s.png') 0 0/auto 100% no-repeat;
		
	}
	
}

.brands__column-one {
	flex: 0 1 33.33%;
	background: url('./../img/brands/brand_5.png') 0 0/cover no-repeat;
}

.brands__column-two {
	flex:0 1 33.33%;
	.brands__block-img {
		background: url('./../img/brands/brand_6s.png') 0 0/auto 100% no-repeat;
		
	}
}

.brands__column-three {
	flex:0 1 33.33%;
	background: url('./../img/brands/brand_7.png') 0 0/cover no-repeat;
}


// ====================== SLIDER block ======================

.slider {
	&_icon {
		margin: 124px 0 37px 0;
		text-align: center;
	}
	&__title {
color: #494b4c;
font-size: 18px;
font-weight: 700;
text-align: center;
letter-spacing: 1.8px;
margin: 0 0 27px 0;
 	span{
		color: #848789;
		
		font-weight: 300;
		letter-spacing: 1.8px;
	}
		
}
&__text {

		color: #8d8e8f;
		font-family: Lato;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
		text-align: center;
		
		padding: 0 0 104px 0;
	}
}


// ====================== Brands-DOWN block ======================

.brands-down {
	min-width: 100%;
	margin: 0 auto;

	&__small-img {
		width: 100%;
	}

	&__main-row {
		display: flex;

		@media screen and (max-width: 800px) {
		flex-direction: column;
	}
		

	}

	&__box {
		// border: 5px solid #18b5a4;
		flex: 0 1 100%;
		
	}


// --- Box-1 ---

	&__block-1 {
		flex: 0 1 33,33%;
		display: flex;
		flex-wrap:wrap;
		// img {
		// 	width: 100%;
		// }
	}


	.brands-down-column:hover {
		.brands-down__active {display: block;}
		.brands-down__active-img {display: block;}
	}


	&__active {	
			position: absolute;
			background-color: rgba(100, 194, 158, 0.5);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100%;
			width: 100%;
			display: none;
			justify-content: center;
			text-align: center;


			div {
				position: relative;

			    top: 50%;
			    transform: translateY(-50%);
			    
			}

			span {
				text-transform: uppercase;
				color: white;
				font-size: 10px;
				font-weight: 700;
				letter-spacing: 2.6px;

			}
	}

	&__active-img {
		// max-width: 25%;
		margin: 0 auto;
		padding: 0 0 3px 0;
	}

	&__b1-column-1 {
		flex: 0 0 50%;
      position: relative;

	}
	&__b1-column-2 {
		flex: 0 0 50%;
		position: relative;
	}
	&__b1-column-3 {
		flex: 0 1 100%;
		position: relative;
	}
 		
 // --- Box-2 ---

	&__block-2 {
		flex: 0 1 33,33%;
		display: flex;
		flex-direction: row;


		// img.brands-down__small-img {
		// 	width: auto;
		// 	height: 100%;
		// }

	}
	&__b2-column-1 {
		flex: 0 1 50%;
		 position: relative;
		 img {
			min-height: 100%;
		}

	}
	&__b2-column-2 {
		flex: 0 1 50%;
		 position: relative;
		img {
			min-height: 100%;
		}
	}


// --- Box-3 ---

	&__block-3 {
		flex: 0 1 33,33%;
		display: flex;
		flex-wrap:wrap;
		// img {
		// 	width: 100%;
		// }
	}

	&__b3-column-1 {
		 position: relative;
		// border: 5px solid red;
		flex: 0 1 100%;
	}
	&__b3-column-2 {
		 position: relative;
		flex: 0 1 50%;
	}

	&__b3-column-3 { 
		position: relative;
		flex: 0 1 50%;
	}
}


.button {		

		padding: 75px 0;
		// height: 200px;
		background-color: rgba(30, 35, 40, 1);
		width: 100%;


		
	&__item {
		display: flex;
		align-items: center;
  		justify-content: center;

		span {
		text-transform: uppercase;
				color: white;
				font-size: 10px;
				font-weight: 700;
				letter-spacing: 2.6px;		
				padding: 20px 50px;
				border: 1px solid white;
				transition-duration: 1s;
			&:hover {
				border: 1px solid rgba(100, 194, 158, 1);}

				@media screen and (max-width: 300px) {
   	padding: 20px 10px;}
		
	}
	}
}

// ====================== FORM block ======================

.form {
	padding: 105px 0;
	text-align: center;

	span {
		display: block;
		font-style: italic;
		font-size: 24px;
		letter-spacing: 1.5px;
		color: #848789;
		margin: 15px 0 20px 0;
	}

	&__logo {}
	&__logo-img {margin: 0 0 15px 0;}

	input[type=text] {
	vertical-align: middle;
  width: 400px;
  height: 60px;
  		font-style: italic;
		font-size: 20px;
		letter-spacing: 1.5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 10px 0 0 0;

  		@media screen and (max-width: 500px) {
   	width: 95%;}

	}

	input[type=button] {
		vertical-align: middle;
	letter-spacing: 1.5px;
	font-size: 22px;
	font-weight: 200;
   background-color: rgba(100, 194, 158, 1);
   width: 120px;
   height: 60px;
   border: none;
   color: white;
   
   
   cursor: pointer;
   margin: 10px 0 0 10px;
  	transition-duration: 1s;


  	&:hover {
  		color: rgba(100, 150, 158, 1);
  		border: 2px solid rgba(100, 150, 158, 1); 
  	}

  		@media screen and (max-width: 500px) {
   	width: 95%;
    	margin: 10px 0 0 0;}


	}

}





// ====================== FOOTER block ======================
footer {
	 padding: 100px 0;
 		background-color: rgb(192,192,192, 0.15);
 		transition-duration: 1s;

 		@media screen and (max-width: 800px) {
 			padding: 20px 0;
 		}
}
.footer {

	&__row {
		display: flex;
		justify-content:space-between;

		// @media screen and (max-width: 800px) {
		// flex-direction: column;
	 // 	justify-content: center;


	 // }
		
	}
	&__address {
		// letter-spacing: 0.5px;
		text-align: left;
		line-height: 18px;
		font-style: italic;
		font-size: 14px;
		color: #848789;
		span {
			font-weight: bold;
			font-style: normal;
		}
		width: 250px;
	}
	&__social {
		min-width: 160px;
		img {
			margin: 0 7.5px;
		}
	}
	&__dev {
		img {vertical-align: middle;
			margin: 0 0 0 5px;}
		vertical-align: middle;
		text-align: right;
		font-style: italic;
		font-size: 14px;
		color: #848789;
		width: 250px;
	}


	@media screen and (max-width: 800px) {

		&__row {
		flex-direction: column;
	 	align-items:center;
	 	}

	 	&__address, &__social { 
	 		text-align: center;
	 		margin: 0 0 15px 0;
	 }

	 	&__address, &__social, &__dev { 
	 		text-align: center;
	 }

}
}



//					 ...БУРГЕР...
// .icon-menu {
// 	@media (max-width: 767px){
// 		display: block;
// 		position: absolute;
// 		top: 18px;
// 		right: 10px;
// 		width: 30px;
// 		height: 18px;
// 		cursor: pointer;
// 		z-index: 5;
// 		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #fff;
// 			&:first-child{top: 0px;}
// 			&:last-child{top: auto; bottom: 0px;}
// 		}
// 		&.active{
// 			span{@include scale(0);
// 				&:first-child{@include rotate(-45deg);top: -8px;}
// 			&:last-child{@include rotate(45deg);bottom: -8px;}
// 		}
// 	}
	
// }

